<div class="bg-black w-100 vh-100 container-fluid">
    <div class="row">
        <a class="text-white" routerLink="/row-and-col-example">
            <h1>Row and Col Example</h1>
        </a>
        <a class="text-white" routerLink="/table-example">
            <h1>Table example</h1>
        </a>
        <a class="text-white" routerLink="/stack-example">
            <h1>Stack example</h1>
        </a>
        <a class="text-white" routerLink="/display-example">
            <h1>Display example</h1>
        </a>
    </div>
</div>
