<div class="bg-black text-white w-100 vh-100 align-content-center">
    <!-- ROWS AND COLs example -->
    <div class="container">
        <div class="row w-25 bg-danger m-5 g-2">
            <div class="col bg-dark m-1">
                <h1>Col 1</h1>
            </div>
            <div class="col bg-dark m-1">
                <h1>Col 2</h1>
            </div>
            <div class="col bg-dark m-1">
                <h1>Col 3</h1>
            </div>
            <div class="col bg-dark m-1">
                <h1>Col 4</h1>
            </div>
        </div>
        <div class="col w-25 bg-dark m-5">
            <div class="row bg-danger m-3">
                <h1>Row 1</h1>
            </div>
            <div class="row bg-danger m-3">
                <h1>Row 2</h1>
            </div>
            <div class="row bg-danger m-3">
                <h1>Row 3</h1>
            </div>
            <div class="row bg-danger m-3">
                <h1>Row 4</h1>
            </div>
        </div>
    </div>
</div>
